.modalcontainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 12;

  opacity: 1;
  transition: opacity 150ms;
}

.containerhide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms 150ms;

  .box {
    max-height: 0;
    transition: max-height 150ms;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  background: color-mix(in srgb, var(--text-color) 50%, transparent 50%);
  backdrop-filter: blur(3px);
}

.box {
  position: absolute;
  bottom: 0;
  left: var(--spacing-1);
  right: var(--spacing-1);
  height: max(fit-content, 50vh);
  max-height: calc(100% - max(var(--spacing-3), 10vh));
  width: calc(100% - 2 * var(--spacing-1));
  z-index: 2;
  transition: max-height 150ms 150ms;

  background: var(--background-color);

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: var(--spacing-2);
  overflow: auto;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-2);
}
