.radiothemebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 260px;
  padding: var(--spacing-2);
  gap: var(--spacing-2);
}

.radiothemelist {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  border-radius: var(--border-radius-2);
  padding: var(--spacing-3);
  gap: var(--spacing-1);
  overflow: auto;
}

.radiothemeitem {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  padding: var(--spacing-1);
  gap: var(--spacing-1);
  align-items: flex-start;
  border-radius: var(--border-radius-2);
  border: 2px solid transparent;

  [type="radio"] {
    display: none;
  }
  &:has(:checked) {
    border-color: var(--outline-color);
  }
}

.radiolabelbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-2);
}

.radiopreviewbox {
  position: relative;
  height: 89px;
  width: 100%;

  .radiopreview {
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius-1);
    height: 100%;
  }
}

.radiopreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  z-index: 1;
  margin: 0 auto;
}

.radiopreviewcut {
  clip-path: ellipse(150% 115% at 160% 130%);
  z-index: 2;
}

.inputlabel {
  text-align: center;
}

.radiopreviewvalue {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 51px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-1);
  overflow: hidden;

  .radiopreview {
    height: 100%;
  }
}

.radiopreviewlabel {
  flex: 1;
  font-size: var(--text-size-sm);
}
