.light {
  --text-color: #020617;
  --outline-color: #020617;
  --background-color: #f5f7fb;

  --theme-color-1: #020617;
  --theme-color-2: #f5f7fb;
  --theme-color-3: #020617;
  --theme-color-4: #f5f7fb;
}

.dark {
  --text-color: #f5f7fb;
  --outline-color: #f5f7fb;
  --background-color: #020617;

  --theme-color-1: #f5f7fb;
  --theme-color-2: #020617;
  --theme-color-3: #f5f7fb;
  --theme-color-4: #020617;
}
