.crispwinter {
  --text-color: #000000;
  --outline-color: #020617;
  --background-color: #9b86ff;

  --theme-color-1: #a5eff8;
  --theme-color-2: #76cfff;
  --theme-color-3: #76cfff;
  --theme-color-4: #0fbfff;
}
