@mixin light {
  --text-color: #020617;
  --background-color: #f5f7fb;
  --theme-color-1: #ff5500;
  --theme-color-2: #ffff00;
  --theme-color-3: #00ff00;
  --theme-color-4: #aaaaff;
}

.light {
  @include light;
}

.light_bw {
  @include light;
  --theme-color-1: #020617;
  --theme-color-2: #f5f7fb;
  --theme-color-3: #020617;
  --theme-color-4: #f5f7fb;
}
