.nightlight {
  --text-color: #f5f7fb;
  --outline-color: #020617;
  --background-color: #27374d;

  --theme-color-1: #dde6ed;
  --theme-color-2: #9db2bf;
  --theme-color-3: #9db2bf;
  --theme-color-4: #627378;
}
